<h1>Pool <small><a href=@{PoolR poolId}>Go back</a></small>

$if null users
  <p .lead>No users here
$else 
  <p .lead>User list
    <ol>
      $forall Entity userid user <- users
        <li>
          <a href=@{UserR userid}>#{userName user}</a>
          <p>
            <div .form-actions>
              <form method=post>
                  <input type=hidden name=uid value=#{show userid}>
                  <input id="deluid#{show userid}" type=hidden name=deluid value="add">
                  <input .btn type=submit value="Add">
                  <button .btn type=submit onclick="document.getElementById('deluid#{show userid}') .value='delete'">Delete
  <div .pagination>
    ^{paginWidget}
