<h1>Upload video
$maybe msg <- mmsg
  <div .message>
    <div .container>
      #{msg}

<div .container>
  <div .row>
    <h2>
      Upload new video
    <div .form-actions>
      <form method=post enctype=#{enctype}>
        ^{widget}
        <input .btn type=submit value="Upload">
